@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans CJK KR'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Regular.woff') format('woff2'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Regular.woff2') format('woff2'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans CJK KR'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Medium.woff') format('woff2'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Medium.woff2') format('woff2'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans CJK KR'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Bold.woff') format('woff2'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Bold.woff2') format('woff2'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Bold.otf') format('truetype');
}
